.playlist-generator {
  max-width: 600px;
  margin: 50px auto;
  padding: 32px;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-generator h2 {
  color: #ff4f85;
  text-align: center;
}

.playlist-generator input {
  width: 100%;
  padding: 14px;
  font-size: 1rem;
  border: 2px solid #cb075b;
  background-color: white;
  color: #333;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}


.playlist-generator input:focus {
  border-color: #5ddcdc;
  box-shadow: 0 0 0 3px rgba(93, 220, 220, 0.25);
}

.playlist-generator button {
  width: 100%;
  padding: 10px;
  background-color: #cb075b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
}

.playlist-generator button:hover{
  background-color: #5ddcdc;
}

.playlist-generator ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

.playlist-generator li {
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

/* error messages */

.input-error {
  border: 2px solid #e74c3c;
  background-color: #fdecea;
}

.error-message {
  color: #e74c3c;
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.9rem;
}
